.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
div.flickSlideContainer {
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
}
div.moveWrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    -webkit-box-sizing: border-box;
}
ul.moveWrapBG {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    visibility: hidden;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div.slideMask {
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 1px;
}
div.moveWrap>ul.move {
    position: relative;
    left: 0;
    top: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 10000px;
    -webkit-transition: all 0.6s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    margin: 0;
    padding: 0;
    display: none;
}
div.moveWrap>ul.move li.slideUnit {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
}
li.slideUnit>div {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
div.flickSlideBottom {
    width: 95%;
    display: table;
    margin: 0 auto;
}
div.flickSlideBottom div.bottomLeft, div.flickSlideBottom div.bottomRight {
    display: table-cell;
    -webkit-box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #cccccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#detailImages div.flickSlideBottom div.bottomLeft.off, div.flickSlideBottom div.bottomRight.off {
    border: 1px solid #cccccc;
    color: #bbbaba;
}
#detailImages div.flickSlideBottom div.bottomLeft.off {
    background: url(../img/usr/sb/top_visual/top_visual_prev_off.png), -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #fff), color-stop(0.00, #ededed));
    background: url(../img/usr/sb/top_visual/top_visual_prev_off.png), -webkit-linear-gradient(#ededed, #fff);
    background: url(../img/usr/sb/top_visual/top_visual_prev_off.png), -moz-linear-gradient(#ededed, #fff);
    background: url(../img/usr/sb/top_visual/top_visual_prev_off.png), -o-linear-gradient(#ededed, #fff);
    background: url(../img/usr/sb/top_visual/top_visual_prev_off.png), -ms-linear-gradient(#ededed, #fff);
    background: url(../img/usr/sb/top_visual/top_visual_prev_off.png), linear-gradient(#ededed, #fff);
    background-repeat: no-repeat, repeat;
    background-position: left center, left top;
    background-size: 16px 12px, auto auto;
    -webkit-background-size: 16px 12px, auto auto;
}
#detailImages div.flickSlideBottom div.bottomRight.off {
    background: url(../img/usr/sb/top_visual/top_visual_next_off.png), -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #fff), color-stop(0.00, #ededed));
    background: url(../img/usr/sb/top_visual/top_visual_next_off.png), -webkit-linear-gradient(#ededed, #fff);
    background: url(../img/usr/sb/top_visual/top_visual_next_off.png), -moz-linear-gradient(#ededed, #fff);
    background: url(../img/usr/sb/top_visual/top_visual_next_off.png), -o-linear-gradient(#ededed, #fff);
    background: url(../img/usr/sb/top_visual/top_visual_next_off.png), -ms-linear-gradient(#ededed, #fff);
    background: url(../img/usr/sb/top_visual/top_visual_next_off.png), linear-gradient(#ededed, #fff);
    background-repeat: no-repeat, repeat;
    background-position: right center, left top;
    background-size: 16px 12px, auto auto;
    -webkit-background-size: 16px 12px, auto auto;
}
div.flickSlideBottom div.bottomRight {
    width: 20%;
    background: url(../img/usr/sb/top_visual/top_visual_next.png), -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #ececec), color-stop(0.70, #f4f4f4), color-stop(0.00, #fafafa));
    background: url(../img/usr/sb/top_visual/top_visual_next.png), -webkit-linear-gradient(top, #fafafa 0%, #f4f4f4 70%, #ececec 100%);
    background: url(../img/usr/sb/top_visual/top_visual_next.png), -moz-linear-gradient(top, #fafafa 0%, #f4f4f4 70%, #ececec 100%);
    background: url(../img/usr/sb/top_visual/top_visual_next.png), -o-linear-gradient(top, #fafafa 0%, #f4f4f4 70%, #ececec 100%);
    background: url(../img/usr/sb/top_visual/top_visual_next.png), -ms-linear-gradient(top, #fafafa 0%, #f4f4f4 70%, #ececec 100%);
    background: url(../img/usr/sb/top_visual/top_visual_next.png), linear-gradient(to bottom, #fafafa 0%, #f4f4f4 70%, #ececec 100%);
    background-repeat: no-repeat, repeat;
    background-position: right center, left top;
    background-size: 16px 12px, auto auto;
    -webkit-background-size: 16px 12px, auto auto;
}
div.flickSlideBottom div.bottomLeft {
    width: 20%;
    background: url(../img/usr/sb/top_visual/top_visual_prev.png), -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #ececec), color-stop(0.70, #f4f4f4), color-stop(0.00, #fafafa));
    background: url(../img/usr/sb/top_visual/top_visual_prev.png), -webkit-linear-gradient(top, #fafafa 0%, #f4f4f4 70%, #ececec 100%);
    background: url(../img/usr/sb/top_visual/top_visual_prev.png), -moz-linear-gradient(top, #fafafa 0%, #f4f4f4 70%, #ececec 100%);
    background: url(../img/usr/sb/top_visual/top_visual_prev.png), -o-linear-gradient(top, #fafafa 0%, #f4f4f4 70%, #ececec 100%);
    background: url(../img/usr/sb/top_visual/top_visual_prev.png), -ms-linear-gradient(top, #fafafa 0%, #f4f4f4 70%, #ececec 100%);
    background: url(../img/usr/sb/top_visual/top_visual_prev.png), linear-gradient(to bottom, #fafafa 0%, #f4f4f4 70%, #ececec 100%);
    background-repeat: no-repeat, repeat;
    background-position: left center, left top;
    background-size: 16px 12px, auto auto;
    -webkit-background-size: 16px 12px, auto auto;
}
div.flickSlideBottom div.bottomLeft:after {
    content: '';
    display: table-cell;
}
div.flickSlideBottom div.bottomLeft:before {
    content: '戻る';
    text-align: left;
    display: table-cell;
    width: 100%;
    padding-left: 40%;
}
div.flickSlideBottom div.bottomRight:before {
    content: '';
    display: table-cell;
}
div.flickSlideBottom div.bottomRight:after {
    content: '進む';
    text-align: right;
    display: table-cell;
    width: 100%;
    padding-right: 40%;
}
div.flickSlideBottom ul.slidePager {
    display: table-cell;
    width: 60%;
    text-align: center;
    margin: 0;
    padding: 0;
}
div.flickSlideBottom ul.slidePager li.slidePagerPointer {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px;
    vertical-align: middle;
    background: #dfdfdf;
    border-radius: 10px;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
div.flickSlideBottom ul.slidePager li.slidePagerPointer.active {
    background: #c30074;
}


/*    商品詳細
---------------------------------------------------------*/

#detailImages div.flickSlideBottom {
    width: 95%;
    display: table;
    margin: 0 auto;
}
#detailImages div.flickSlideBottom div.bottomLeft, div.flickSlideBottom div.bottomRight {
    display: table-cell;
    -webkit-box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #cccccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#detailImages div.flickSlideBottom div.bottomLeft.off, div.flickSlideBottom div.bottomRight.off {
    border: 1px solid #cccccc;
    color: #bbbaba;
}
#detailImages div.flickSlideBottom div.bottomLeft.off {
    background: url(../img/usr/sb/top_visual/top_visual_prev_off.png), -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #fff), color-stop(0.00, #ededed));
    background: url(../img/usr/sb/top_visual/top_visual_prev_off.png), -webkit-linear-gradient(#ededed, #fff);
    background: url(../img/usr/sb/top_visual/top_visual_prev_off.png), -moz-linear-gradient(#ededed, #fff);
    background: url(../img/usr/sb/top_visual/top_visual_prev_off.png), -o-linear-gradient(#ededed, #fff);
    background: url(../img/usr/sb/top_visual/top_visual_prev_off.png), -ms-linear-gradient(#ededed, #fff);
    background: url(../img/usr/sb/top_visual/top_visual_prev_off.png), linear-gradient(#ededed, #fff);
    background-repeat: no-repeat, repeat;
    background-position: left center, left top;
    background-size: 16px 12px, auto auto;
    -webkit-background-size: 16px 12px, auto auto;
}
#detailImages div.flickSlideBottom div.bottomRight.off {
    background: url(../img/usr/sb/top_visual/top_visual_next_off.png), -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #fff), color-stop(0.00, #ededed));
    background: url(../img/usr/sb/top_visual/top_visual_next_off.png), -webkit-linear-gradient(#ededed, #fff);
    background: url(../img/usr/sb/top_visual/top_visual_next_off.png), -moz-linear-gradient(#ededed, #fff);
    background: url(../img/usr/sb/top_visual/top_visual_next_off.png), -o-linear-gradient(#ededed, #fff);
    background: url(../img/usr/sb/top_visual/top_visual_next_off.png), -ms-linear-gradient(#ededed, #fff);
    background: url(../img/usr/sb/top_visual/top_visual_next_off.png), linear-gradient(#ededed, #fff);
    background-repeat: no-repeat, repeat;
    background-position: right center, left top;
    background-size: 16px 12px, auto auto;
    -webkit-background-size: 16px 12px, auto auto;
}
#detailImages div.flickSlideBottom div.bottomRight {
    width: 24%;
    background: url(../img/usr/sb/top_visual/top_visual_next.png), -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #ececec), color-stop(0.70, #f4f4f4), color-stop(0.00, #fafafa));
    background: url(../img/usr/sb/top_visual/top_visual_next.png), -webkit-linear-gradient(top, #fafafa 0%, #f4f4f4 70%, #ececec 100%);
    background: url(../img/usr/sb/top_visual/top_visual_next.png), -moz-linear-gradient(top, #fafafa 0%, #f4f4f4 70%, #ececec 100%);
    background: url(../img/usr/sb/top_visual/top_visual_next.png), -o-linear-gradient(top, #fafafa 0%, #f4f4f4 70%, #ececec 100%);
    background: url(../img/usr/sb/top_visual/top_visual_next.png), -ms-linear-gradient(top, #fafafa 0%, #f4f4f4 70%, #ececec 100%);
    background: url(../img/usr/sb/top_visual/top_visual_next.png), linear-gradient(to bottom, #fafafa 0%, #f4f4f4 70%, #ececec 100%);
    background-repeat: no-repeat, repeat;
    background-position: right center, left top;
    background-size: 16px 12px, auto auto;
    -webkit-background-size: 16px 12px, auto auto;
}
#detailImages div.flickSlideBottom div.bottomLeft {
    width: 24%;
    background: url(../img/usr/sb/top_visual/top_visual_prev.png), -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #ececec), color-stop(0.70, #f4f4f4), color-stop(0.00, #fafafa));
    background: url(../img/usr/sb/top_visual/top_visual_prev.png), -webkit-linear-gradient(top, #fafafa 0%, #f4f4f4 70%, #ececec 100%);
    background: url(../img/usr/sb/top_visual/top_visual_prev.png), -moz-linear-gradient(top, #fafafa 0%, #f4f4f4 70%, #ececec 100%);
    background: url(../img/usr/sb/top_visual/top_visual_prev.png), -o-linear-gradient(top, #fafafa 0%, #f4f4f4 70%, #ececec 100%);
    background: url(../img/usr/sb/top_visual/top_visual_prev.png), -ms-linear-gradient(top, #fafafa 0%, #f4f4f4 70%, #ececec 100%);
    background: url(../img/usr/sb/top_visual/top_visual_prev.png), linear-gradient(to bottom, #fafafa 0%, #f4f4f4 70%, #ececec 100%);
    background-repeat: no-repeat, repeat;
    background-position: left center, left top;
    background-size: 16px 12px, auto auto;
    -webkit-background-size: 16px 12px, auto auto;
}
#detailImages div.flickSlideBottom div.bottomLeft:after {
    content: '';
    display: table-cell;
}
#detailImages div.flickSlideBottom div.bottomLeft:before {
    content: '前の画像';
    text-align: left;
    display: table-cell;
    width: 100%;
    padding-left: 30%;
}
#detailImages div.flickSlideBottom div.bottomRight:before {
    content: '';
    display: table-cell;
}
#detailImages div.flickSlideBottom div.bottomRight:after {
    content: '次の画像';
    text-align: right;
    display: table-cell;
    width: 100%;
    padding-right: 30%;
}
#detailImages div.flickSlideBottom ul.slidePager {
    display: table-cell;
    width: 40%;
    text-align: center;
    margin: 0;
    padding: 0;
}
#detailImages div.flickSlideBottom ul.slidePager li.slidePagerPointer {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px 5px;
    vertical-align: middle;
    background: #dfdfdf;
    border-radius: 10px;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
#detailImages div.flickSlideBottom ul.slidePager li.slidePagerPointer.active {
    background: #c30074;
}